roles/*
!roles/.gitkeep
group_vars/*/*vault*.yml
group_vars/*test*
group_vars/*/*test*
group_vars/*/*/*vault*.yml
files/groups/*/nginx/certs/*
files/groups/*test*
files/groups/*/*/id_rsa
files/docker-machine/*
!files/docker-machine/.gitkeep
inventories/*test*
inventories/*/*test*
.vault*
vault*
*.retry
*.pem
*.crt
*.cert*
*.key
.DS_Store
.vscode
.terraform
