ansible>=2.8
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9
idna==2.9
Jinja2==2.11.1
MarkupSafe==1.1.1
pycparser==2.20
python-gitlab<=1.12.1
PyYAML==5.3.1
requests==2.23.0
six==1.14.0
urllib3==1.25.8
